@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

}


.banner {
    position: relative;
    width: 100%;
    height: 100vh;
    background: #31363D;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Josefin Slab', serif;
}

.banner img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.25;
}

#dish {
    height: 400px;
    width: 400px;
    position: absolute;
    opacity: 1;
    border: 5px solid #EEE6D3;
    padding: 10px;
}

.banner .content {
    position: relative;
    width: 1000px;
    height: 400px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .content h2 {
    color: #EEE6D3;
    font-size: 65px;
    position: absolute;
    padding-left: 300px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    letter-spacing: 2px;
}

.banner .content p {
    color: #fff;
    font-size: 18px;
}

.banner header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner header .logo {
    color: #EEE6D3;
    text-decoration: none;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}

.banner header .toggle {
    position: relative;
    width: 36px;
    height: 36px;
    color: #EEE6D3;
}

.about {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
}

.about .contentBx {
    background: #31363D;
    padding: 100px;
    width: 50%;
    margin: 0 auto;
}

.heading {
    color: #EEE6D3;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 10px;
    font-family: 'Josefin Slab', serif;
    text-align: center;
}

.text {
    color: #EEE6D3;
    font-size: 14px;
    letter-spacing: 1px;
}

.about .imgBx {
    background: url('https://res.cloudinary.com/dvug8hy5k/image/upload/v1616886749/Plate%20to%20Page/michelinstar_uf1f1x.gif');
    width: 50%;
    background-size: cover;
    background-position: center;
}


.ingredients {
    background: #12222d;
    padding: 100px;
    text-align: center;
}

.ingredients .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 60px;
}

.ingredients .container .ingredientBx {
    position: relative;
    background: #FDD200;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #452191;
    padding: 10px;
}

.ingredients .container .ingredientBx:nth-child(2){
    background: #EEE6D3;
    color: #A50B17;
}

.ingredients .container .ingredientBx:nth-child(3){
    background: #A50B17;
    color: #EEE6D3;
}

.ingredients .container .ingredientBx img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.ingredients .container .ingredientBx h2 {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 1px;
}

.recipecontainer {
    color: #EEE6D3;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}

.ingredientlist {
    border: 2px solid #EEE6D3;
    width: 500px;
    padding: 10px;
}

.ingredientlist p {
    padding: 5px;
}

.ingredientlist ul {
    list-style: none;
    padding: 10px;
    font-size: 14px;
    text-align: start;
    margin-left: 125px;
}

.process {
    border: 2px solid #EEE6D3;
    width: 1000px;
    padding: 10px;
}

.process ul {
    list-style: none;
    text-align: start;
    font-size: 12px;
}

.process li {
    padding: 5px;
}

.process p {
    padding: 5px;
}

.history {
    background: #3f8ffc;
    padding: 100px;
    padding-top: 300px;
    margin-top: -300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.history .imgBx {
    max-width: 250px;
}

/* .history .imgBx img {
    max-width: 100%;
} */

/* .client {
    background: #162c3b;
    padding: 100px;
    text-align: center;
}

.client .imgBx {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 40px;
    background: #fff;
}

.client .imgBx img {
    max-width: 200px;
    margin: 20px;
    opacity: .25;
}

.client .imgBx img:hover {
    opacity: 1;
}

.testimonials {
    position: relative;
    padding: 100px;
    background: #12222d;
    text-align: center;
}

.testimonials .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    flex-wrap: wrap;
}

.testimonials .container .contentBx {
    background: #fff;
    padding: 60px 50px;
    width: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.testimonials .container .contentBx p {
    font-style: italic;
}

.testimonials .container .contentBx h3 {
    width: 100%;
    text-align: end;
    font-weight: 500;
    color: #3f8ffc;
    padding-top: 10px;
} */

.contact {
    padding: 100px;
    background: #162c3b;
    text-align: center;
}

.imgBx2 {
    background: url('https://res.cloudinary.com/dvug8hy5k/image/upload/v1616866762/Plate%20to%20Page/3E213431-698B-46C7-9E49-590301BE0B21_of3o3h.jpg');
    background-size: cover;
    background-position: center;
    background-position-y: 45%;
    width: 50%;
}

.redbg {
    background: #452191 !important;
}

.form .inputBx {
    margin-bottom: 40px;
}

.form .inputBx input {
    width: 100%;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 300;
    color: #EEE6D3;
    border-bottom: 2px solid #EEE6D3;
}

.form .inputBx input::placeholder {
    color: #EEE6D3;
}

.form .inputBx textarea {
    width: 100%;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 300;
    color: #EEE6D3;
    min-height: 150px;
    border-bottom: 2px solid #EEE6D3;
}

.form .inputBx textarea::placeholder {
    color: #EEE6D3;
}

.form .inputBx input[type="submit"] {
    width: 150px;
    background: #EEE6D3;
    color: #111;
    cursor: pointer;
    font-weight:400;
}

.footer {
    background: #162c3b;
    padding: 20px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 991px) {
    .banner header {
        padding: 20px 50px;
    }

    .banner .content h2 {
        font-size: 36px;
    }

    .banner .content p {
        font-size: 16px;
    }

    .about {
        flex-direction: column;
    }

    .about .contentBx,
    .about .imgBx {
        width: 100%;
        padding: 50px;
        min-height: 400px;
        text-align: center;
    }

    .services {
        padding: 50px;
    }

    .services .container {
        justify-content: center;
        margin-top: 20px;
    }

    .services .container .serviceBx {
        margin: 20px;
        width: 300px;
        height: 350px;
    }

    .technology {
        padding: 50px;
        padding-top: 300px;
        justify-content: center;
        flex-direction: column;
    }

    .technology .imgBx {
        margin-top: 40px;
        max-width: 250px;
    }

    .client {
        padding: 50px;
    }

    .client .imgBx {
        justify-content: center;
    }

    .testimonials {
        padding: 50px;
    }

    .testimonials .contentBx {
        padding: 60px 40px;
        max-width: 550px;
        margin-bottom: 40px;
    }

    .testimonials .contentBx:last-child {
        margin-bottom: 0px;
    }    

    .footer {
        padding: 20px 50px;
        flex-direction: column-reverse;
        text-align: center;
    }
}